@media only screen and (max-width: 991px) {
    html {
        font-size: 15px;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 4.375rem;
        background-color: #faf7f2;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        z-index: 9999;
        gap: 10px;
    }

    .personal_banner {
        height: 22.625rem;
    }

    .navbar li {
        padding: 0.9375rem;

    }

    .navbar li:first-child {
        margin-top: 3.125rem;

    }

    .navbar li a {
        font-size: 1rem;
        color: #000;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
          margin-left: auto;
    }

    .mobile-nav {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .hero-bg {
        padding: 70px 0;
        height: auto;

    }

    section.inner-bnr {
        height: auto;
        padding: 80px 0;
    }

    .contact-section .container {
        flex-direction: column;
        gap: 0;
    }

    .contact-info {
        max-width: 100%;
    }

    .form-container {
        max-width: 700px;
        padding: 0;
    }

    .contact-form .row {
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 20px;
    }

    .contact-info p {
        margin: 0;
    }
}


@media screen and (max-width:767px) {
    .contact-left {
        padding: 30px 0 0 0;
    }

    .hero-text h1 {
        font-size: 35px;
    }

    .listing {
        width: 100%;
    }

    .footer_disclaimer {
        padding: 20px 80px;
        clip-path: none;
    }

    .pt-80 {
        padding-top: 40px;
    }

    .pb-80 {
        padding-bottom: 40px;
    }

    .listing {
        flex: 1 100%;
    }

    .explore-image {
        width: 100%;
    }

    .explore-text-image {
        width: 100%;
        border-left: none;
    }

    .just-winning-inner {
        padding: 20px 30px 10px;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .hotel-text {
        padding: 0;
    }

    .homepage .bnr-text h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .contact-section {
    padding: 50px 20px;
}

li.footer_item {
    padding-bottom: 15px;
}

.heading-slider h2 {
    padding-bottom: 20px;
}

   

}

@media screen and (max-width:575px) {
    .hero-text h1 {
        font-size: 30px;
    }

    .footer_disclaimer {
        padding: 20px 30px;
    }

     .homepage.second {
        height: 100%;
    }

    .second-heading {
    font-size: 27px;
}

.heading h2 {
    font-size: 27px;
}
}

@media(max-width:425px) {
    .footer_btmWrapp {
        flex-wrap: wrap;
    }
    .ssl {
    width: 70%;
}
}